<h1>Ma todolist</h1>
{% if todolist is defined %}
<p>
  <ul>
  {% for i, task in todolist %}
    <li>
      {% if task.done %}
        <s>{{task.name}}</s>
      {% else %}
        {{task.name}}
        <a href="/done/{{i}}">Mark as done</a>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</p>
{% endif %}

<form method="post" action="/new">
  <input type="text" name="task"/>
  <button type="submit">Ajouter</button>
</form>
